# Server
PORT=3000

# OpenSky API
POLL_INTERVAL_MS=10000
OPENSKY_TIMEOUT_MS=8000
# OPENSKY_URL=https://opensky-network.org/api/states/all?lamin=8.0&lomin=68.0&lamax=37.0&lomax=97.0

# CORS
CORS_ORIGIN=*
